.sidebar-container {
  padding: 5rem 3rem;
  color: var(--font-primary-sidebar);
  transition: all 0.3s ease-in-out;
}

.buttons-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 10px;
  display: grid;
  place-content: center;
  background: var(--font-secondary-sidebar);
}

.add-btn svg {
  vertical-align: middle;
}

.dots-container {
  display: flex;
  gap: 0.5rem;
}

.dash,
.dot {
  height: 0.8rem;
  background: var(--font-secondary-sidebar);
  border-radius: 1rem;
}

.dash {
  width: 2rem;
}

.dot {
  width: 0.8rem;
}

.switch-btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.switch-btn-container span {
  font-size: 1.4rem;
}

.switch-btn .bar {
  display: block;
  position: relative;
  width: 4rem;
  height: 1.4rem;
  background: var(--font-secondary-sidebar);
  border-radius: 1.4rem;
}

.switch-btn .bar::after {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(100%, -50%);
  content: "";
  width: 2rem;
  height: 2rem;
  background: var(--font-primary-sidebar);
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}

.switch-btn.on .bar::after {
  right: 0;
  transform: translate(0%, -50%);
}

.location-container {
  padding: 4rem 0;
}

.location {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.location p:last-of-type {
  margin-left: auto;
}

.location-icon svg {
  vertical-align: middle;
  fill: var(--font-primary-sidebar);
}

.location-container .date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-container .date p {
  color: var(--font-secondary-sidebar);
}

.temp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.left-arrow svg,
.right-arrow svg {
  vertical-align: middle;
  fill: var(--font-secondary-sidebar);
  transform: scale(1.4);
  opacity: 0.6;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  padding: 1rem;
  /* border: 1px solid #90c; */
  border-radius: 50%;
}

.left-arrow:hover,
.right-arrow:hover {
  background: rgba(255, 255, 255, 0.1);
}

.temp-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.temp-text-container .temp-text {
  font-size: 9rem;
  font-weight: 500;
}

.weather-text-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather-icon svg {
  vertical-align: middle;
  fill: var(--font-secondary-sidebar);
}

.weather-text {
  font-size: 3rem;
}
